html {
    overflow-y: scroll;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    max-height: 100vh;
    min-height: 100vh;
}

.header {
    background-color: #ffffe4;
    box-shadow: 0px 0px 50px 17px rgba(0,0,0,0.82);
    margin-bottom: 2rem;
    z-index: 1;
    
}

.innerNav {
    background-color: #ffffe4;
    display: grid;
    grid-template-columns: 3fr 5fr;
    left: 0;
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
    position: fixed;
    right: 0;
    z-index: 1;
}

.navBackground {
    background-color: #ffffe4;
    height: 54px;
    position: fixed;
    width: 100%;
}

.headerTitle {
    color: black;
    font-size: larger;
    font-weight: bold;
    text-align: start;
}

.linkContainer {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    z-index: 1;
}

@media screen and (max-width: 680px) {
    .innerNav {
        display: block;
        padding: 1rem 0;
        width: 100%;
    }
    
    .headerTitle {
        display: block;
        padding-bottom: 1rem;
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .linkContainer {
        font-size: small;
    }
    
}

.imagePlaceholder {
    background-color: #a4b8c7;
    height: 7rem;
}

/* .backgroundImage {
    display:block;
    height: auto;
    position: relative;
    width: 100%;
    z-index:-1;
} */

.pageLink {
    transition: 0.2s;
    color: black;
    text-decoration: none;
}

.pageLink:hover {
    font-weight: bold;
    cursor: pointer;
}

.active {
    font-weight: bold;
}

/* home */

.homeContent {
    font-size: 2rem;
    margin-inline: auto;
    max-width: 800px;
    padding: 2rem;
}

#welcome {
    font-size: 4rem;
    font-weight: bolder;
    padding: 1rem;
}

/* resume */

.resumeContainer {
    border-radius: 8px;
    box-shadow: 0px 0px 50px 17px rgba(0,0,0,0.32);
    margin: 2rem 5rem;
    padding: 2rem 5rem;
}

/* projects */

.projectTilesContatiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    max-width: 1000px;
    padding: 0 6rem;
}

.projectTile {
    border-radius: 1rem;
    box-shadow: 0px 0px 50px 17px rgba(0,0,0,0.32);
    margin: 2rem;
    overflow: hidden;
    position: relative;
}

.projectTile:before {
	content: "";
	float: left;
	padding-top: 100% 	/* initial ratio of 1:1*/
}

.projectImage {
    background-color: #a4b8c7;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding-top: 1rem;
}

.projectContent {
    min-width: 100%;

    height: auto
}

/* aboutme */

.aboutmeTile {
    border-radius: 1rem;
    box-shadow: 0px 0px 50px 17px rgba(0,0,0,0.32);
    height: calc(100% - 17rem);
    margin: 2rem 1rem;
    overflow: hidden;
}

.aboutmeImage {
    float: left;
    height: 100%;
    width: auto;
}

.aboutmeContent {
    display: flex;
    font-size: 1rem;
    height: 100%;
    justify-content: center;
    align-items: center;

}