.light {
    --main-background: white;
    --main-text: black;
    --primary-color: rgb(255, 255, 228);
    --secondary-color: rgb(255, 215, 114);
    --third-color: rgb(255, 191, 29);
    --forth-color: rgb(223, 156, 0);
    --border: 0px;
}

.dark {
    --main-background: rgb(3, 20, 34);
    --main-text: white;
    --primary-color:rgb(3, 20, 34);
    --secondary-color:  rgb(103, 116, 150);
    --third-color: rgb(73, 86, 129);
    --forth-color:  rgb(45, 60, 95);
    --border: 1px;
}

html {
    overflow-y: scroll;
}

body {
    background-color: var(--main-background);
    color: var(--main-text);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    max-height: 100vh;
    min-height: 100vh;
    text-align: center;
}

header {
    background-color: var(--primary-color);
    box-shadow: 0px 0px 50px 17px rgba(0,0,0,0.82);
    height: 54px;
    z-index: 1;
}

.innerNav {
    display: grid;
    grid-template-columns: 3fr 5fr 1fr;
    left: 0;
    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
    padding-bottom: 10px;
    position: fixed;
    right: 0;
    z-index: 2;
}

.navBackground {
    background-color: var(--primary-color);
    height: 54px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.headerTitle {
    color: var(--main-text); 
    font-size: larger;
    font-weight: bold;
    text-align: start;
}

.linkContainer {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    z-index: 1;
}

.svg-background {
    transform: scaleY(0.4) translateY(-100%);
}

#content {
    transform: translateY(-160px);
}

@media screen and (max-width: 1900px) {
    #content {
        transform: translateY(-130px);
    }
}

@media screen and (max-width: 1400px) {
    .svg-background {
        transform: scaleY(0.6) translateY(-70%);
    }

    #content {
        transform: translateY(-90px);
    }
}

@media screen and (max-width: 1000px) {
    .svg-background {
        transform: scaleY(0.8) translateY(-60%);
    }

    #content {
        transform: translateY(-40px);
    }
}

@media screen and (max-width: 680px) {
    header {
        height: 90px;
        margin-bottom: 0;
    }

    #content {
        transform: translateY(-20px);
    }

    .innerNav {
        display: block;
        padding: 1rem 0;
        width: 100%;
    }

    .navBackground {
        height: 90px;
    }
    
    .headerTitle {
        display: block;
        padding-bottom: 1rem;
        text-align: center;
    }
    
    .toggle {
        position: fixed;
        top: 10px;
        right: 20px;
    }
}

@media screen and (max-width: 400px) {
    .linkContainer {
        font-size: small;
    }
}

/* toggle */

.toggle {
    align-items: end;
    display: grid;
    justify-self: center;
    user-select: none;
    width: 20px;
}

.toggle-icon {
    width: 20px;
}
  
.toggle-input {
    opacity: 0;
    position: absolute;
}
  
.toggle-label {
    border-radius: 20px;
    cursor: pointer;
    padding: 4px;
}
  
.toggle-label:hover {
    background-color: var(--secondary-color);
}

/* page links */

.pageLink {
    color: var(--main-text); 
    text-decoration: none;
    transition: 0.2s;
}

.pageLink:hover {
    cursor: pointer;
    font-weight: bold;
}

.active {
    font-weight: bold;
}

/* mountain color */

.mtnBackground {
    fill: var(--primary-color);
}

.mtnOne {
    fill: var(--secondary-color);
}

.mtnTwo {
    fill: var(--third-color);
}

.mtnThree {
    fill: var(--forth-color);
}

/* home */

.homeContent {
    font-size: 2rem;
    margin-inline: auto;
    max-width: 800px;
    padding: 2rem;
}

#welcome {
    font-size: 4rem;
    font-weight: bolder;
    padding: 1rem;
}

/* resume */

.resumeContainer {
    border: var(--border) solid white;
    border-radius: 8px;
    box-shadow: 0px 0px 50px 17px rgba(0,0,0,0.32);
    margin: 2rem 5rem;
    padding: 2rem 5rem;
}

@media screen and (max-width: 1000px) {
    .resumeContainer {
        padding: 1rem;
        margin: 1rem 3rem;
    }
}

@media screen and (max-width: 680px) {
    .resumeContainer {
        margin: 1rem;
        padding: 1rem;
    }
}

/* projects */

.projectTilesContatiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-inline: auto;
    max-width: 1000px;
    padding: 0 6rem;
}

.projectTile {
    border: var(--border) solid white;
    border-radius: 1rem;
    box-shadow: 0px 0px 50px 17px rgba(0,0,0,0.32);
    margin: 2rem;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .projectTilesContatiner {
        grid-template-columns: 1fr 1fr;
        padding: 0 2rem;
    }

    .projectTile {
        margin: 1rem;
    }
}

@media screen and (max-width: 680px) {
    .projectTilesContatiner {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }

    .projectTile {
        margin: 1rem;
    }
}

.projectTile:before {
	content: "";
	float: left;
	padding-top: 100% 	/* initial ratio of 1:1*/
}

.projectImage {
    align-items: center;
    background-color: var(--secondary-color);
    font-size: 25px;
    font-weight: bold;
    height: 44px;
    justify-content: center;
    padding-top: 1rem;
}

.projectContent {
    height: auto
    min-width: 100%;
}

/* aboutme */

.aboutmeTile {
    border: var(--border) solid white;
    border-radius: 1rem;
    box-shadow: 0px 0px 50px 17px rgba(0,0,0,0.32);
    height: calc(100% - 17rem);
    margin: 2rem 1rem;
    overflow: hidden;
}

.aboutmeImage {
    float: left;
    height: 100%;
    width: auto;
}

.aboutmeContent {
    align-items: center;
    display: flex;
    font-size: 1rem;
    height: 100%;
    justify-content: center;
}