header {
    box-shadow: 0px -15px 50px 15px rgba(0,0,0,0.5);
    z-index: 2;
    position: relative;
}

.innerNav {
    align-items: center;
    display: grid;
    grid-template-columns: 3fr 5fr 1fr;
    padding: 0 1rem;
    width: 100%;
    z-index: 2;
}

#menuButton {
    background-color: var(--main-background);
    border: none;
    display: none;
    position: absolute;
}

#menuButton:hover {
    background-color: var(--main-accent);
}

.headerTitle {
    color: var(--main-text); 
    font-size: 2em;
    font-weight: bold;
    margin-inline-start: 1rem;
    text-align: start;
}

.headerTitle span {
    animation: waveAnimation 1s;
    animation-iteration-count: 1;
    animation-delay: calc(.1s * var(--letter));
    display: inline-block;
    margin-inline-start: -9px;
    position: relative;
}

.headerTitle:hover span {
    animation-iteration-count: infinite;
}

@keyframes waveAnimation {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    
    20% {
        transform: translateY(-10px);
    }
}

.linkContainer {
    align-items: center;
    display: flex;
    font-size: 1em;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
}

/* page links */

.pageLink {
    color: var(--main-text); 
    text-decoration: none;
    transition: 0.2s;
}

.pageLink:hover {
    cursor: pointer;
    font-weight: bold;
}

.active {
    font-weight: bold;
}

/* theme button */

#themeButton {
    background-color: var(--main-background);
    border: none;
    border-radius: 25px;
    justify-self: end;
    padding: 5px;
}

.theme-icon {
    width: 20px;
}
  
#themeButton:hover {
    background-color: var(--main-accent);
}

@media (width > 1200px) {
    .innerNav {
        padding-inline: 10%
    }

    .headerTitle {
        font-size: 3em;
    }

    .headerTitle span {
        margin-inline-start: -13px;
    }

    .linkContainer {
        font-size: 1.5em;
    }

    .theme-icon {
        width: 25px;
    }
}

@media (width < 740px) {
    #menuButton {
        display: inline;
    }

    .headerTitle {
        margin-inline-start: 3rem;
    }

    .innerNav {
        display: flex;
        justify-content: space-between;
    }

    .linkContainer {
        background-color: var(--secondary-background);
        box-shadow: 0px 10px 23px 12px rgba(0,0,0,0.20);
        display: none;
        flex-wrap: wrap;
        justify-content: space-around;
        left: 0;
        padding-block: 1em;
        position: absolute;
        z-index: 1;
    }

    .linkContainer.open {
        display: flex;
        top: 3.5em;
    }
}

@media (width < 400px) {
    .linkContainer {
        flex-direction: column;
    }

    .pageLink {
        padding-block: 0.5em;
    }
}
